<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/Reservation.js"></script>
  </head>
  <body ng-app="Reservation" ng-controller='BaseController'>

      <div ng-show="!isLogin()" ng-controller="LoginController" class="card">
          <div class="item item-text-wrap">
              <div class="item item-divider">
                LIBRARY RESERVATION SYSTEM LOGIN
              </div>
              <div class="list">
                  <label class="item item-input">
                      <span class="input-label">Username</span>
                      <input type="text" required='required' name="username" ng-model='user.username'>
                  </label>
                  <label class="item item-input">
                      <span class="input-label">Password</span>
                      <input type="password" required='required'  name="password" ng-model="user.password">
                  </label>
                  <button class="button button-block button-positive" ng-click="login(user)">
                      Login
                  </button>
              </div>
          </div>
      </div>
      
      <ion-side-menus ng-show="isLogin()" enable-menu-with-back-views='true'>
          <ion-side-menu-content>
              <ion-header-bar class="bar-light">
                <button menu-toggle="toggle"  class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
                <h1 class="title">Reservation Application</h1>
              </ion-header-bar>
              <ion-nav-view ></ion-nav-view>
          </ion-side-menu-content>
          <ion-side-menu side="left">
              <ion-header-bar class="bar-light">
                <h1 class="title">Reservation App Menu</h1>
              </ion-header-bar>
              <ion-content>
                  <div class="list">
                      <a class="item item-icon-left" href="#/dashboard">
                        <i class="icon ion-ios-home-outline"></i>
                        Dashboard
                      </a>
                      <a class="item item-icon-left" href="#/landing-page-books">
                        <i class="icon ion-ios-list-outline"></i>
                        Books
                      </a>
                      <a ng-click='' class="item item-icon-left" href="#/search">
                        <i class="icon ion-ios-search"></i>
                        Search Books
                      </a>
                      <a class="item item-icon-left" ng-click='logout()'>
                        <i class="icon ion-ios-locked-outline"></i>
                        Logout
                      </a>
                  </div>
              </ion-content>
          </ion-side-menu>
      </ion-side-menus>
    <!-- Services -->
    <script src='js/Config/ReservationConfig.js'></script>
    <script src='js/Services/BookService.js'></script>
    <script src='js/Services/LoginService.js'></script>
    <script src='js/Services/UserService.js'></script>
    <script src='js/Services/BookReservationService.js'></script>
    <!-- End Of Services -->
    <!--Repositories -->
    <script src='js/Repositories/BookRepository.js'></script>
    <!-- End Of Repositories -->

    <!-- Controllers -->
    <script src='js/Controller/BaseController.js'></script>
    <script src='js/Controller/ReservationController.js'></script>
    <script src='js/Controller/DashboardController.js'></script>
    <script src='js/Controller/LoginController.js'></script>
    <script src='js/Controller/SearchBookController.js'></script>
    <script src='js/Controller/LandingController.js'></script>
    <script src='js/Controller/BookController.js'></script>
    <!-- End Of Controllers -->
    
    
  </body>
</html>
