<ion-view ng-controller='UserController'>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Change Password
					</div>
					<div class="item item-text-wrap">
					    <div class="list">
						  	<label class="item item-input item-floating-label">
						    	<span class="input-label">Old Password</span>
						    	<input type="password" placeholder="Old Password">
						  	</label>
						  	<label class="item item-input item-floating-label">
						    	<span class="input-label">New Password</span>
						    	<input type="password" placeholder="New Password">
						  	</label>
						  	<label class="item item-input item-floating-label">
						    	<span class="input-label">Confirm New Password</span>
						    	<input type="password" placeholder="Confirm New Password">
						  	</label>
						  	<button class="button button-block button-positive activated">Change Password</button>
						</div>
				  	</div>
				</div>
				
			</div>
		</div>
	</ion-content>
</ion-view>