<ion-view ng-controller='UserController'>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Change Password
					</div>
					<div class="item item-text-wrap">
					    <div class="list">
					    	
						  	<form name='changePassword'  ng-submit='changePasswordSubmit(changePassword.$valid)' novalidate>
						  		<label class="item item-input item-floating-label">
						    	<span class="input-label">Old Password</span>
							    	<input name="oldPassword" required ng-required="" type="password" ng-model='user.oldPassword' placeholder="Old Password">
									<p ng-show="changePassword.oldPassword.$isvalid">Old Password Is Required</p>
							  	</label>
							  	<label class="item item-input item-floating-label">
							    	<span class="input-label">New Password</span>
							    	<input name='newPassword' required ng-required="" type="password" ng-model='user.newPassword' placeholder="New Password">
							    	<p ng-show="changePassword.newPassword.$isvalid">New Password Is Required</p>
							  	</label>
							  	<label class="item item-input item-floating-label">
							    	<span class="input-label">Confirm New Password</span>
							    	<input name="cNewPassword" required type="password" ng-model='user.cNewPassword' placeholder="Confirm New Password">
							    	<p ng-show="changePassword.cNewPassword.$isvalid">Confirm Password Is Required</p>
							  	</label>
							  	<button ng-disabled="changePassword.$invalid" type='submit' class="button button-block button-positive activated">Change Password</button>
						  	</form>
						</div>
				  	</div>
				</div>
				
			</div>
		</div>
	</ion-content>
</ion-view>