<ion-view ng-controller='ReservationController' >
	<ion-content>
		<div class="row">
			<div class="col">

				<div class="card">
					<div class="item item-divider">
				    	<button class="button button-block button-positive" ng-click='getReservedBooks()'>
							View {{ user.name }} Reserved Books
						</button>
					</div>
					<div class="item item-text-wrap">

					    <ion-list>
					    	<label ng-repeat='book in books' class="item item-input">
							    <div class="input-label">
							      <h2>{{ book.name }}</h2>
					    			<p>{{ book.author }}</p>
							    </div>
						  	</label>
							<div ng-hide="books.length">No reserved books found.</div>
						</ion-list>
				  	</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>